@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lora&display=swap');

body {
  color: rgb(64,145,236);
  background-color: rgb(161,232,250);
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  color: white;
  background-color: rgb(64,145,236);
  font-size: 50px;
  display: inline-block;
  padding: 20px;
  font-family: "Lato", sans-serif;
}

h2 {
  color: rgb(64,145,236);
  font-size: 30px;
  font-family: "Lato", sans-serif;
}

p {
  font-size: 20px;
}

.text {
  font-size: 20px;
  color: #333;
  text-align: left;
  margin: 10px 80px;
}

.links {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin: 10px 80px;
}
      
/* Add a black background color to the top navigation */
.nav {
  background-color: #333;
  overflow: hidden;
}
      
/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
      
/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}
      
/* Add mint green color to the active/current link */
.nav a.active {
  background-color: #BFF7E2;
  color: white;
}

footer {
  font-size: 20px;
  text-align: center;
  color: purple;
  margin-bottom: 0;
  height: 10vh;
  bottom: 0;
}